.day-header {
  display: flex;
  border-bottom: 2px solid #d24d53;
  padding-bottom: 8px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.day-header-left {
  width: calc(100% - 16px);
}

.day-date {
  color: #9e9fa0;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.day-title-contain {
  line-height: 24px;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  display: flex;
}

.day-header-right {
  margin: auto;
}

.product-list {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.product-list-each {
  background: #fafafa;
  border-radius: 7px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.product-list-each:hover {
  cursor: pointer;
}

.daily_checkbox:active {
  outline: none;
}

.product-list-class {
  display: flex;
  justify-content: space-between;
}

.product-list-img {
  width: 70px;
  height: 55px;
  border-radius: 11px;
  margin-left: 9px;
}

.product-list-explain {
  margin: auto 15px;
}

.product-list-title {
  font-size: 18px;
  font-weight: bold;
}

.product-list-detail {
  font-size: 15px;
}

.product-list-left {
  display: flex;
  width: calc(100% - 10px);
}

.product-list-right {
  margin: auto 0;
}

.drag-explain-contain {
  color: #9e9fa0;
  background-color: rgba(247, 247, 247, 0.43);
  border: 1px dashed #cecfcf;
  border-radius: 4px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag-explain-contain:hover {
  background: #DFE3E7;
}

.daily-products-class {
  display: flex;
  justify-content: space-between;
}

.daily-products-left {
  display: flex;
  width: calc(100% - 10px);
}

.daily-products-explain {
  margin: auto 15px;
}

.daily-products-title {
  font-size: 18px;
  font-weight: bold;
}

.daily-products-detail {
  font-size: 15px;
}

.daily-products-right {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.daily-products-img {
  height: 70px;
  width: 90px;
  border-radius: 11px;
  margin-left: 9px;
}

.daily-proudcts-option {
  display: flex;
}

.edit-icon:hover {
  cursor: pointer;
}

#paging {
  padding: 0 20px 20px 20px;
  font-size: 13px;
  margin-top: 10px;
}

#paging a {
  color: #000;
  background: #e0e0e0;
  padding: 8px 12px;
  margin-right: 5px;
  text-decoration: none;
}

#paging a:hover {
  border: 1px solid #000;
}

#paging a.aktif {
  background: #000 !important;
  color: #fff;
}

.hidden {
  display: none;
}

.hide {
  display: none !important;
}

.custom-pagination {
  margin: 0 auto;
}

.template-list {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.template-list-each {
  background: #fafafa;
  border-radius: 7px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.template-list-each:hover {
  background: #DFE3E7;
  cursor: pointer;
}

.template-list-class {
  display: flex;
  justify-content: space-between;
}

.template-list-img {
  width: 70px;
  height: 55px;
  border-radius: 11px;
  margin-left: 9px;
  width: 50px;
  height: 50px;
  border-radius: 11px;
  margin-left: 9px;
}

.template-list-explain {
  margin: auto 15px;
}

.template-list-title {
  font-size: 18px;
  font-weight: bold;
}

.template-list-detail {
  font-size: 15px;
}

.template-list-left {
  display: flex;
  width: calc(100% - 10px);
}

.template-list-right {
  margin: auto 0;
}

